function Computer.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 5
call Array.new 1
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
pop this 8
push constant 0
pop this 9
push pointer 0
return
function Computer.choosePlacement 0
push argument 0
pop pointer 0
push constant 1
return
function Computer.makeMove 1
push argument 0
pop pointer 0
push pointer 0
call Computer.choosePlacement 1
pop local 0
push this 1
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push pointer 0
push local 0
call Computer.countCrosses 2
pop temp 0
push pointer 0
push local 0
call Computer.drawCross 2
pop temp 0
push local 0
return
function Computer.drawCross 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 6
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 165
push constant 55
push constant 185
push constant 75
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 56
push constant 185
push constant 76
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 54
push constant 185
push constant 74
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 75
push constant 185
push constant 55
call Screen.drawLine 4
pop temp 0
push constant 166
push constant 75
push constant 186
push constant 55
call Screen.drawLine 4
pop temp 0
push constant 164
push constant 75
push constant 184
push constant 55
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 6
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 220
push constant 55
push constant 240
push constant 75
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 240
push constant 76
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 54
push constant 240
push constant 74
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 75
push constant 240
push constant 55
call Screen.drawLine 4
pop temp 0
push constant 221
push constant 75
push constant 241
push constant 55
call Screen.drawLine 4
pop temp 0
push constant 219
push constant 75
push constant 239
push constant 55
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 6
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 273
push constant 55
push constant 293
push constant 75
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 56
push constant 293
push constant 76
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 54
push constant 293
push constant 74
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 75
push constant 293
push constant 55
call Screen.drawLine 4
pop temp 0
push constant 272
push constant 75
push constant 294
push constant 55
call Screen.drawLine 4
pop temp 0
push constant 274
push constant 75
push constant 292
push constant 55
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 10
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 165
push constant 108
push constant 185
push constant 128
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 107
push constant 185
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 128
push constant 185
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 164
push constant 128
push constant 184
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 163
push constant 128
push constant 183
push constant 108
call Screen.drawLine 4
pop temp 0
label IF_FALSE3
push argument 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 10
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 220
push constant 108
push constant 240
push constant 128
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 107
push constant 240
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 109
push constant 240
push constant 129
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 128
push constant 240
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 219
push constant 128
push constant 239
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 221
push constant 128
push constant 241
push constant 108
call Screen.drawLine 4
pop temp 0
label IF_FALSE4
push argument 1
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 10
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 273
push constant 108
push constant 293
push constant 128
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 107
push constant 293
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 109
push constant 293
push constant 129
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 128
push constant 293
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 272
push constant 128
push constant 292
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 274
push constant 128
push constant 294
push constant 108
call Screen.drawLine 4
pop temp 0
label IF_FALSE5
push argument 1
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 15
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 165
push constant 161
push constant 185
push constant 181
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 160
push constant 185
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 162
push constant 185
push constant 182
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 181
push constant 185
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 164
push constant 181
push constant 184
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 166
push constant 181
push constant 186
push constant 161
call Screen.drawLine 4
pop temp 0
label IF_FALSE6
push argument 1
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 15
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 220
push constant 161
push constant 240
push constant 181
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 160
push constant 240
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 162
push constant 240
push constant 182
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 181
push constant 240
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 219
push constant 181
push constant 239
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 221
push constant 181
push constant 241
push constant 161
call Screen.drawLine 4
pop temp 0
label IF_FALSE7
push argument 1
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 15
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 273
push constant 161
push constant 293
push constant 181
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 160
push constant 293
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 162
push constant 293
push constant 182
call Screen.drawLine 4
pop temp 0
push constant 273
push constant 181
push constant 293
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 272
push constant 181
push constant 292
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 274
push constant 181
push constant 294
push constant 161
call Screen.drawLine 4
pop temp 0
label IF_FALSE8
push constant 0
return
function Computer.countCrosses 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
add
pop this 2
push this 8
push constant 1
add
pop this 8
push this 5
push constant 1
add
pop this 5
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push constant 1
add
pop this 2
push this 6
push constant 1
add
pop this 6
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push constant 1
add
pop this 2
push this 7
push constant 1
add
pop this 7
push this 9
push constant 1
add
pop this 9
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push constant 1
add
pop this 3
push this 5
push constant 1
add
pop this 5
label IF_FALSE3
push argument 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 3
push constant 1
add
pop this 3
push this 6
push constant 1
add
pop this 6
push this 8
push constant 1
add
pop this 8
push this 9
push constant 1
add
pop this 9
label IF_FALSE4
push argument 1
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 3
push constant 1
add
pop this 3
push this 7
push constant 1
add
pop this 7
label IF_FALSE5
push argument 1
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 4
push constant 1
add
pop this 4
push this 5
push constant 1
add
pop this 5
push this 9
push constant 1
add
pop this 9
label IF_FALSE6
push argument 1
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 4
push constant 1
add
pop this 4
push this 6
push constant 1
add
pop this 6
label IF_FALSE7
push argument 1
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 4
push constant 1
add
pop this 4
push this 7
push constant 1
add
pop this 7
push this 8
push constant 1
add
pop this 8
label IF_FALSE8
push constant 0
return
function Computer.checkWin 0
push argument 0
pop pointer 0
push this 2
push constant 3
eq
push this 3
push constant 3
eq
or
push this 4
push constant 3
eq
or
push this 5
push constant 3
eq
or
push this 6
push constant 3
eq
or
push this 7
push constant 3
eq
or
push this 8
push constant 3
eq
or
push this 9
push constant 3
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
