function Board.new 1
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 0
call Player.new 1
pop this 0
push constant 1
call Player.new 1
pop this 1
push constant 9
call Array.new 1
pop static 0
push constant 0
pop this 2
push constant 0
pop this 3
push constant 1
pop this 4
push constant 0
pop this 5
push pointer 0
return
function Board.drawBoard 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 150
push constant 90
push constant 306
push constant 93
call Screen.drawRectangle 4
pop temp 0
push constant 150
push constant 143
push constant 306
push constant 146
call Screen.drawRectangle 4
pop temp 0
push constant 200
push constant 40
push constant 203
push constant 196
call Screen.drawRectangle 4
pop temp 0
push constant 256
push constant 40
push constant 259
push constant 196
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call Board.numberBoard 1
pop temp 0
push constant 0
return
function Board.numberBoard 0
push argument 0
pop pointer 0
push constant 6
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 1
call Output.printInt 1
pop temp 0
push constant 6
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 2
call Output.printInt 1
pop temp 0
push constant 6
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 3
call Output.printInt 1
pop temp 0
push constant 10
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 4
call Output.printInt 1
pop temp 0
push constant 10
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 5
call Output.printInt 1
pop temp 0
push constant 10
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 6
call Output.printInt 1
pop temp 0
push constant 15
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 7
call Output.printInt 1
pop temp 0
push constant 15
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 8
call Output.printInt 1
pop temp 0
push constant 15
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 9
call Output.printInt 1
pop temp 0
push constant 0
return
function Board.checkInput 0
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push constant 1
lt
push argument 1
push constant 9
gt
or
not
if-goto WHILE_END0
push argument 1
push constant 88
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Board.dispose 1
pop temp 0
call Sys.halt 0
pop temp 0
label IF_FALSE0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push argument 1
return
function Board.playCircleTurn 1
push argument 0
pop pointer 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push pointer 0
push local 0
call Board.checkInput 2
pop local 0
label WHILE_EXP0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
not
if-goto WHILE_END0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push pointer 0
push local 0
call Board.checkInput 2
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 1
push local 0
call Player.makeMove 2
pop temp 0
push local 0
push constant 1
sub
push static 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
push constant 0
return
function Board.playCrossTurn 1
push argument 0
pop pointer 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push pointer 0
push local 0
call Board.checkInput 2
pop local 0
label WHILE_EXP0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
not
if-goto WHILE_END0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push pointer 0
push local 0
call Board.checkInput 2
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
push local 0
call Player.makeMove 2
pop temp 0
push local 0
push constant 1
sub
push static 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
push constant 0
return
function Board.displayScore 0
push argument 0
pop pointer 0
push constant 1
push constant 50
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
push constant 58
call Output.moveCursor 2
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push constant 2
push constant 50
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 2
push constant 58
call Output.moveCursor 2
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 0
return
function Board.displayRound 0
push argument 0
pop pointer 0
push constant 5
push constant 50
call Output.moveCursor 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 6
call String.new 1
push constant 82
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 58
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
push constant 0
return
function Board.computerWonRound 0
push argument 0
pop pointer 0
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Board.playerWonRound 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 28
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 2
push constant 1
add
pop this 2
goto IF_END0
label IF_FALSE0
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 28
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
push constant 1
add
pop this 3
label IF_END0
push constant 0
return
function Board.playOneRound 3
push argument 0
pop pointer 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 9
lt
not
if-goto WHILE_END0
push local 2
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 5
push constant 0
pop local 0
push constant 0
pop local 1
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Board.drawBoard 1
pop temp 0
push pointer 0
call Board.displayScore 1
pop temp 0
push pointer 0
call Board.displayRound 1
pop temp 0
label WHILE_EXP1
push local 0
not
push local 1
not
and
push this 5
push constant 9
lt
and
not
if-goto WHILE_END1
push pointer 0
call Board.playCrossTurn 1
pop temp 0
push this 0
call Player.checkWin 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
goto IF_END0
label IF_FALSE0
push this 5
push constant 9
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Board.playCircleTurn 1
pop temp 0
label IF_FALSE1
label IF_END0
push this 1
call Player.checkWin 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 1
label IF_FALSE2
goto WHILE_EXP1
label WHILE_END1
push local 0
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push constant 1
call Board.playerWonRound 2
pop temp 0
label IF_FALSE3
push local 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push constant 2
call Board.playerWonRound 2
pop temp 0
label IF_FALSE4
push local 0
not
push local 1
not
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 73
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE5
push this 4
push constant 1
add
pop this 4
push this 0
call Player.clearCounters 1
pop temp 0
push this 1
call Player.clearCounters 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push static 0
call Array.dispose 1
pop temp 0
push this 0
call Memory.deAlloc 1
pop temp 0
push this 1
call Memory.deAlloc 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
